.nav ul{
    display: flex;
}
.nav ul li a{
   
    text-decoration: none;
}
.nav ul li{
    margin: 3%;
    list-style: none;
}
.btn{
    display: none;
}

@media(max-width:600px){
    .hide{
        display: none;
    }
    .hide ul {
        display:block;
    }
    .btn{
        position: absolute;
        display: block;
        right: 1%;
        top:3%;

    }
    .btn1{
        position: absolute;
        display: block;
        right: 1%;
        top:3%;

    }
}

.btn1{
    display: none;
}